.container{
    width: 100%;
    background-color: #3c3c3c;
    border: 2px solid red;
    border-radius: 8px;
    display: flex;
}

.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid gold;
    color: aliceblue;
    border-radius: 8px;
    text-align: center;
    background-color: blueviolet;
}

#flex-start{
    justify-content: flex-start;
}

#flex-end{
    justify-content: flex-end;
}

#center{
    justify-content: center;
}

#space-around{
    justify-content: space-around;
}

#space-between{
    justify-content: space-between;
}